<div class="contact">
    <h3>{$nombreSubpagina}</h3>
    {if $mensaje neq ""}
        <div class="footer-text">
            <div class="container">
                <h3>{$mensaje}</h3>
            </div>
        </div>	
    {/if}
    <div class="contact-form">
        <form method="POST" action="turnos.php" id="formulario" name="formulario">
            <input type="hidden" id="id" name="id" value="{$id}"/>
            <input type="hidden" id="metodo" name="metodo" value="{$metodo}"/>
            
            <label>Terapia</label><br/>
            <select name="terapia">
                {html_options options=$terapias selected=$terapia}
            </select>
            <br/>
            <label>Consultorio</label><br/>
            <select name=consultorio>
                {html_options options=$consultorios selected=$consultorio}
            </select>
            <br/>
            <label>Profesional</label><br/>
            <select name=profesional>
                {html_options options=$profesionales selected=$profesional}
            </select>
            <br/>
            <label>Fecha</label>
            <input type="text" value="{$fecha}" id="fecha" name="fecha"/>
            <br/>
            <label>Hora</label>
            <input type="text" name="hora" id="hora" value="{$hora}" data-time-format="H:i"/>
            <br/>            
            <input type="submit" value="Guardar Datos"/>
        </form>
    </div>
</div>
{literal}
    <script type="text/javascript">
        $('#hora').timepicker();
        $('#hora').mask('00:00:00');
        $('#fecha').datepicker({ dateFormat: 'dd/mm/y' });
    </script>
{/literal}