<ul class="nav1">
    <li style="background: none repeat scroll 0 0 #868e3f;padding: 9px;"><a {if $menu eq "index"} class="active"{/if} href="index.php">Inicio</a></li>
    <li style="background: none repeat scroll 0 0 #868e3f;padding: 9px;"><a {if $menu eq "turnos"} class="active"{/if} href="turnos.php">Turnos</a></li>
    <li style="background: none repeat scroll 0 0 #868e3f;padding: 9px;"><a {if $menu eq "reportes"} class="active"{/if} href="#">Reportes</a></li>
    <li style="background: none repeat scroll 0 0 #868e3f;padding: 9px;"><a {if $menu eq "asistencias"} class="active"{/if} href="asistencias.php">Asistencia</a></li>
    <li style="background: none repeat scroll 0 0 #868e3f;padding: 9px;"><a href="salir.php">Salir</a></li>
</ul>