			<h3>Services Offer</h3>
			<div class="servc-grids">
				<div class="col-md-4 servc-info">
					<ul>
						<li><img src="images/icon5.png" alt=""></li>
						<li>
							<h4>Quas molestias excep</h4>
							<p>praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
						</li>
					</ul>
				</div>	
				<div class="col-md-4 servc-info">
					<ul>
						<li><img src="images/icon6.png" alt=""></li>
						<li>
							<h4>occaecati cupiusint</h4>
							<p>praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
						</li>
					</ul>
				</div>
				<div class="col-md-4 servc-info">
					<ul>
						<li><img src="images/icon7.png" alt=""></li>
						<li>
							<h4>Excepturi sint occa</h4>
							<p>praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
						</li>
					</ul>
				</div>
				<div class="col-md-4 servc-info">
					<ul>
						<li><img src="images/icon8.png" alt=""></li>
						<li>
							<h4>Excepturi sint occupi</h4>
							<p>praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
						</li>
					</ul>
				</div>
				<div class="col-md-4 servc-info">
					<ul>
						<li><img src="images/icon9.png" alt=""></li>
						<li>
							<h4>Quas molestiuricupi</h4>
							<p>praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
						</li>
					</ul>
				</div>
				<div class="col-md-4 servc-info">
					<ul>
						<li><img src="images/icon10.png" alt=""></li>
						<li>
							<h4>Quas molestias oc</h4>
							<p>praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
